{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
 	<!-- 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css.map">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css.map"> -->
	<link rel="stylesheet" href={% static "css/air-datepicker.css" %}>
	<script src={% static "js/air-datepicker.js" %}></script>
	{% endblock head %}
</head>
<body>
	{% block content %}
	<section id="admin">
		<div class="container">
			<div class="admin">
				<div class="row">
					<div class="col-md-9">
						<div class="admin__main">
							<div class="admin__title">Статистика</div>
							<hr class="hr">
							<div class="admin__main_block">
								<div class="admin__main_block__items">
									<div class="admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Общее число клиентов</div>	
										<div id="total_clients" class="admin__main_monthPrise__sum"></div>
									</div>
									<div class="admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Новых клиентов за месяц</div>	
										<div id="monthly_registrations" class="admin__main_monthPrise__sum"></div>
									</div>
									<div class="admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Новых клиентов за сегодня</div>	
										<div id="today_registrations" class="admin__main_monthPrise__sum"></div>
									</div>
								</div>
								<div class="admin__main_block__items">
									<div class="admin__main_block__elem">
										<div class="admin__main_monthPrise__intro">Активных клиентов</div>	
										<div id="active_clients" class="admin__main_monthPrise__sum"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock content %}
	{% block scripts %}
	<script>
        $(document).ready(function() {
            $.ajax({
                url: "{% url 'beauty_city_web:api_client_statistics' %}",
                method: "GET",
                success: function(data) {
                    $('#total_clients').text(data.total_clients);
                    $('#today_registrations').text(data.today_registrations);
                    $('#monthly_registrations').text(data.weekly_registrations);
                    $('#active_clients').text(data.active_clients);
                },
                error: function(xhr, status, error) {
                    console.error(error);
                }
            });
        });
    </script>
	{% endblock scripts %}
</body>
</html>