{% extends "base.html" %}
{% load static %}
<head>
	{% block head %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="{% static 'css/jquery.arcticmodal-0.3.css' %}">
	<link rel="stylesheet" href="{% static 'css/simple.css' %}">
	{% endblock head %}
</head>
<body>
	{% block content %}
	<section id="banner">
		<div class="container">
			<div class="banner">
				<div class="row">
					<div class="col-md-10 col-lg-7 col-xl-6">
						<div class="banner__block">
							<h1 class="banner__title">Запишись на первую услугу со <span class="yellow banner__title_discount">скидкой 50%</span></h1>
							<div class="banner__elems">
								<img src="{% static 'img/persons.svg' %}" alt="persons" class="banner__elems_img">
								<p class="banner__elems_intro">
									<span class="yellow banner__elems_over">Более 1 000</span>
									довольных клиентов
								</p>
							</div>
							<a href="{% url 'beauty_city_web:service' %}"><button class="banner__btn">Записаться</button></a>
						</div>
					</div>
					<div class="col-md-12 col-lg-5">
						<img src="{% static 'img/bannerImg.svg' %}" alt="bannerImg" class="banner__img">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="salons">
		<div class="container">
			<div class="salons pb100">
				<div class="salons__slider_arrows fic mob">
					<div class="title">Наши салоны</div>
					<div class="slider__arrows fic">
						<div class="slider__arrows_arrow leftArrow">
							<i class="arrowRight"></i>
						</div>
						<div class="slider__arrows_arrow rightArrow">
							<i class="arrowLleft"></i>
						</div>
					</div>
				</div>
				<div class="title dec">Наши салоны</div>
				<div class="row salonsSlider">
				{% for salon in salons %}
					<div class="col-6 col-md-4 col-lg-4 col-xl-3">
						<div class="salons__block">
							{% if salon.photo %}
								<img src="{{ salon.photo.url }}" alt="salon" class="salons__block_img">
							{% endif %}
							<div class="salons__elems">
								<div class="block__title salons__elems_title">{{ salon.name }}</div>
								<div class="salons__elems_light">{{ salon.address }}</div>
							</div>
						</div>
					</div>
				{% endfor %}
				{% for i in empty_salons_count|make_list %}
					<div class="col-6 col-md-4 col-lg-4 col-xl-3 decVis">
						<div class="salons__block">
							<img src="{% static 'img/salons/salon1.svg' %}" alt="salon" class="salons__block_img">
							<div class="salons__elems">
								<div class="block__title salons__elems_title">BeautyCity</div>
								<div class="salons__elems_light">Скоро открытие</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<section id="services">
		<div class="container">
			<div class="services pb100">
				<div class="services__slider_arrows fic">
					<div class="title">Услуги</div>
					<div class="slider__arrows fic">
						<div class="slider__arrows_arrow leftArrow">
							<i class="arrowRight"></i>
						</div>
						<div class="slider__arrows_arrow rightArrow">
							<i class="arrowLleft"></i>
						</div>
					</div>
				</div>
				
				<div class="row servicesSlider">
					{% for service in services %}
					<div class="col-md-3">
						<div class="cardBlock services__block">
							{% if service.photo %}
								<img src="{{ service.photo.url }}" alt="service" class="services__block_img">
							{% endif %}
							<div class="services__elems">
								<div class="services__elems_title">{{ service.name }}</div>
								<div class="services__elems_light">{{ service.price }} ₽</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<section id="masters">
		<div class="container">
			<div class="masters pb100">
				<div class="masters__slider_arrows fic">
					<div class="title">Мастера</div>
					<div class="slider__arrows fic">
						<div class="slider__arrows_arrow leftArrow">
							<i class="arrowRight"></i>
						</div>
						<div class="slider__arrows_arrow rightArrow">
							<i class="arrowLleft"></i>
						</div>
					</div>
				</div>
				
				<div class="row mastersSlider">
					{% for master in masters %}
						<div class="col-md-3">
							<div class="cardBlock masters__block">
								<div class="masters__header fic">
									{% if master.photo %}
										<img src="{{ master.photo.url}}" alt="master" class="masters__header_img">
									{% endif %}
									<div class="masters__header_elmes">
										<div class="masters__header_name">{{ master.name }}</div>
										<img src="{% static "img/rating.svg" %}" alt="rating" class="masters__header_rating">
										<div class="masters__header_reviews">Отзывов: {{ master.reviews.count }}</div>
									</div>
								</div>
								<div class="masters__main">
									<div class="masters__main_speciality">СПЕЦИАЛЬНОСТЬ:</div>
										<div class="masters__main_intro">{{ master.specialty }}</div>
									</div>
								<div class="masters__footer fic">
									<div class="masters__footer_block">
										<div class="masters__footer_light">СТАЖ РАБОТЫ:</div>
										<div class="masters__footer_num">{{ master.experience }}</div>
									</div>
									<button onclick="window.location.href='{% url 'beauty_city_web:service' %}'"  class="masters__footer_btn">Записаться</button>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<section id="reviews">
		<div class="container">
			<div class="reviews pb100">
				<div class="reviews__slider_arrows fic">
					<div class="title">Отзывы</div>
					<div class="slider__arrows fic">
						<div class="slider__arrows_arrow leftArrow">
							<i class="arrowRight"></i>
						</div>
						<div class="slider__arrows_arrow rightArrow">
							<i class="arrowLleft"></i>
						</div>
					</div>
				</div>
				
				<div class="row reviewsSlider">
					{% for review in reviews %}
						<div class="col-md-3">
							<div class="reviews__block">
								<div class="reviews__name">{{ review.client.name }}</div>
								<img src="{% static "img/rating.svg" %}" alt="rating" class="reviews__header_rating">
								<div class="reviews__block_text">{{ review.text }}</div>
								<div class="reviews__block_date">{{ review.date }}</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<section id="contacts">
		<div class="container">
			<div class="contacts">
				<div class="title contacts__title">Контакты</div>
				<div class="row">
					<div class="col-md-12 col-lg-4 col-xl-3">
						<form id="contactForm" class="contacts__form">
							<div class="contacts__form_title">Оставьте заявку на консультацию</div>
							<div class="contacts__form_block">
								<input type="text" name="name" id="contactName" class="contacts__form_iunput" placeholder="Введите имя" required>
								<div class="contacts__form_inputBlock">
									<input type="text" name="phone" id="contactPhone" class="contacts__form_iunput" placeholder="+7(999)999-99-99" required>
								</div>
							</div>

							<textarea name="question" id="contactQuestion" class="contacts__form_textarea" placeholder="Вопрос (необязательно)"></textarea>
							<div class="contacts__form_checkboxBlock fic">
								<input type="checkbox" name="terms_agreed" id="contactTerms" class="contacts__form_checkbox" checked required>
								<span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфиденциальности</span>
							</div>
							<button type="submit" class="contacts__form_btn">Отправить</button>
							<div id="contactFormMessage" style="margin-top: 10px; display: none;"></div>
						</form>
					</div>
					<div class="col-md-12 col-lg-3">
						<div class="contacts__locationBlock">
							{% for salon in salons %}
								<div class="contacts__location fic">
									<img src="{% static 'img/location.svg' %}" alt="location" class="contacts__location_icon">
									<div class="contacts__location_info">
										<div class="contacts__location_intro">{{ salon.address }}</div>
									<div class="contacts__location_date">{{ salon.working_hours }}</div>
									</div>
								</div>
							{% endfor %}
						</div>
						<div class="contacts__block">
							<div class="contacts__social">
								<div class="contacts__social_title">соц. сети</div>
								<div class="contacts__social_block fic">
									<a href=""><img src="{% static 'img/wa.svg' %}" alt="wa" class="contacts__social_icon"></a>
									<a href=""><img src="{% static 'img/vk.svg' %}" alt="vk" class="contacts__social_icon"></a>
									<a href=""><img src="{% static 'img/tg.svg' %}" alt="tg" class="contacts__social_icon"></a>
									<a href=""><img src="{% static 'img/insta.svg' %}" alt="insta" class="contacts__social_icon"></a>
								</div>
							</div>
							<div class="contacts__info">
								<div class="contacts__infoBlock">
									<div class="contacts__info_title">контакты</div>
									<a href="tel:+79179023800" class="contacts__info_tel">+7 (917) 902 38 00</a>
								</div>
								<a href="#" class="contacts__info_mail">hello@beauty.ru</a>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-lg-5 col-xl-6">
						<div id="yandex-map" class="contacts__map" style="width: 100%; height: 400px;"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% endblock content %}
	{% block popups %}
	<div style="display: none;">
		<div class="box-modal authPopup popup" id="authModal">
			<div class="box-modal_close arcticmodal-close"><img src="{% static 'img/x.svg' %}" alt="x"></div>
			<div class="popup__title authPopup__title">Войти по коду</div>
			<p class="popup__text authPopup__text">Введите свой номер телефона, мы вышлем на него код</p>
			<form action="#" class="authPopup__form">
				<div class="contacts__form_inputBlock">
					<input type="text" name="tel" class="contacts__form_iunput" placeholder="+7(999)999--99-99" required="">
				</div>
				<div class="contacts__form_checkboxBlock fic">
					<input type="checkbox" class="contacts__form_checkbox" checked="">
					<span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфидециоальности</span>
				</div>
				<button type="submit" class="popup__btn authPopup__btn">Отправить</button>
			</form>
		</div>
	</div>
	<div style="display: none;">
		<div class="box-modal confirmPopup popup" id="confirmModal">
			<div class="box-modal_close arcticmodal-close"><img src="{% static 'img/x.svg' %}" alt="x"></div>
			<div class="popup__title confirmPopup__title">Подтвердите номер</div>
			<p class="popup__text confirmPopup__text">Введите код, полученный по SMS на номер +7 (928) 164 48 60</p>
			<div class="confirmPopup__number">
				<input type="text" name="num1" class="tipsPopup__form_inputNum popup__input" placeholder="" required="">
				<input type="text" name="num2" class="tipsPopup__form_inputNum popup__input" placeholder="" required="">
				<input type="text" name="num3" class="tipsPopup__form_inputNum popup__input" placeholder="" required="">
				<input type="text" name="num4" class="tipsPopup__form_inputNum popup__input" placeholder="" required="">

			</div>
			<div class="confirmPopup__sms">Если SMS не пришло вы можете <a href="#" class="popup__link">запросить код повторно</a></div>
			<div class="confirmPopup__changeNumber">
				<a href="#" class="confirmPopup__link popup__link">Изменить номер телефона</a>
			</div>
		</div>
	</div>
	{% endblock popups %}
	{% block scripts %}
	<script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandex_maps_api_key }}&lang=ru_RU" type="text/javascript"></script>
	<script src="{% static 'js/air-datepicker.js' %}"></script>
	<script src="{% static 'js/jquery.arcticmodal-0.3.min.js' %}"></script>
	<script type="text/javascript">
		// Получаем данные салонов из контекста Django
		var salonsData = {{ salons_json|safe }};
		console.log('Данные салонов:', salonsData);

		ymaps.ready(function() {
			console.log('Яндекс.Карты загружены');

			// Создаем карту с центром в Москве
			var myMap = new ymaps.Map('yandex-map', {
				center: [55.751244, 37.618423],
				zoom: 11,
				controls: ['zoomControl', 'typeSelector', 'fullscreenControl']
			});

			console.log('Карта создана');

			// Массив для хранения координат всех меток
			var bounds = [];
			var geocodedCount = 0;

			// Добавляем метки для каждого салона
			salonsData.forEach(function(salon, index) {
				console.log('Геокодирую адрес #' + index + ':', salon.full_address);

				// Геокодируем адрес салона с приоритетом Москвы
				ymaps.geocode(salon.full_address, {
					results: 1,
					boundedBy: [[55.142627, 36.803760], [56.021281, 37.967682]], // Границы Москвы
					strictBounds: false // Если не найдёт в Москве, будет искать в других городах
				}).then(function(res) {
					console.log('Результат геокодирования для ' + salon.name + ':', res);

					var geoObject = res.geoObjects.get(0);

					if (geoObject) {
						var coords = geoObject.geometry.getCoordinates();
						console.log('Координаты найдены:', coords);

						// Создаем метку
						var placemark = new ymaps.Placemark(coords, {
							balloonContentHeader: salon.name,
							balloonContentBody: salon.address + '<br>' +
								'<strong>Телефон:</strong> ' + salon.phone + '<br>' +
								'<strong>Часы работы:</strong> ' + salon.working_hours,
							hintContent: salon.name
						}, {
							preset: 'islands#redDotIcon'
						});

						myMap.geoObjects.add(placemark);
						console.log('Метка добавлена на карту');

						bounds.push(coords);
						geocodedCount++;

						// Если все метки добавлены, автоматически подстраиваем масштаб
						if (geocodedCount === salonsData.length && bounds.length > 0) {
							console.log('Все метки добавлены, подстраиваю масштаб');
							myMap.setBounds(myMap.geoObjects.getBounds(), {
								checkZoomRange: true,
								zoomMargin: 50
							});
						}
					} else {
						console.warn('Геообъект не найден для:', salon.full_address);
					}
				}).catch(function(error) {
					console.error('Ошибка геокодирования для ' + salon.full_address + ':', error);
				});
			});
		});

		// Обработка формы обратной связи
		$(document).ready(function() {
			$('#contactForm').on('submit', function(e) {
				e.preventDefault();

				var formData = {
					name: $('#contactName').val(),
					phone: $('#contactPhone').val(),
					question: $('#contactQuestion').val(),
					terms_agreed: $('#contactTerms').is(':checked')
				};

				var $button = $(this).find('button[type="submit"]');
				var $message = $('#contactFormMessage');

				$button.prop('disabled', true).text('Отправка...');
				$message.hide();

				$.ajax({
					url: '{% url "beauty_city_web:api_contact_request" %}',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(formData),
					success: function(response) {
						$message.html('<div style="color: green; font-weight: bold;">' + response.message + '</div>').show();
						$('#contactForm')[0].reset();
						$button.prop('disabled', false).text('Отправить');
					},
					error: function(xhr) {
						var errorMsg = 'Произошла ошибка при отправке';
						if (xhr.responseJSON && xhr.responseJSON.errors) {
							var errors = xhr.responseJSON.errors;
							errorMsg = Object.values(errors).flat().join(', ');
						} else if (xhr.responseJSON && xhr.responseJSON.error) {
							errorMsg = xhr.responseJSON.error;
						}
						$message.html('<div style="color: red; font-weight: bold;">' + errorMsg + '</div>').show();
						$button.prop('disabled', false).text('Отправить');
					}
				});
			});
		});
	</script>
	{% endblock scripts %}
</body>
</html>