{% extends "base.html" %}
{% load static %}
<head>
	{% block head %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css">
	<link rel="stylesheet" href={% static "css/jquery.arcticmodal-0.3.css" %}>
	<link rel="stylesheet" href={% static "css/simple.css" %}>
	<link rel="stylesheet" href={% static "css/air-datepicker.css" %}>
	{% endblock head %}
</head>
<body>
	{% block content %}
	<section id="serviceFinally">
		<div class="container">
			<div class="serviceFinally">
				<div class="row">
					<div class="col-md-6 col-lg-6">
						<div class="breadCrumbs">
							<a href="{% url 'beauty_city_web:index' %}" class="breadCrumbs__item">На главную</a>
						</div>
						<div class="service__block">
							<h1 class="service__title">Запись на услугу</h1>
						</div>
						<div class="serviceFinally__form_block">
							<div class="serviceFinally__form_header fic">
								<span class="serviceFinally__form_header__number">Запись №{% now "His" %}</span>
								<div class="serviceFinally__form_header__item fic">
									{% if salon %}
										<div class="serviceFinally__form_header__service">{{ salon.name }}</div>
										<div class="serviceFinally__form_header__address">{{ salon.address }}</div>
									{% else %}
										<div class="serviceFinally__form_header__service">BeautyCity Пушкинская</div>
										<div class="serviceFinally__form_header__address">ул. Пушкинская, д. 78А</div>
									{% endif %}
								</div>
							</div>
							<div class="serviceFinally__form_content">
								<div class="serviceFinally__form_content__block fic">
									{% if service %}
										<div class="serviceFinally__form_content__title">{{ service.name }}</div>
										<div class="serviceFinally__form_content__price">
											{% if promo_code %}
												<div style="display: flex; flex-direction: column; align-items: flex-end;">
													<span style="text-decoration: line-through; color: #999;">{{ original_price }} ₽</span>
													<span style="color: #4CAF50; font-weight: bold;">{{ final_price|floatformat:2 }} ₽</span>
												</div>
											{% else %}
												{{ service.price }} ₽
											{% endif %}
										</div>
									{% else %}
										<div class="serviceFinally__form_content__title">Дневной макияж</div>
										<div class="serviceFinally__form_content__price">750 ₽</div>
									{% endif %}
								</div>
								<div class="serviceFinally__form_content__block fic">
									<div class="serviceFinally__form_content__items fic">
										  {% if master and master.photo %}
											<img src="{{ master.photo.url }}" alt="avatar" class="accordion__block_img">
										{% else %}
											<img src="{% static 'img/masters/avatar/vizajist1.svg' %}" alt="avatar" class="accordion__block_img">
										  {% endif %}
										  <div class="accordion__block_master">
											{% if master %}{{ master.name }}{% else %}Елена Грибнова{% endif %}
										</div>
								    </div>
								    <div class="serviceFinally__form_content__item fic">
										<div class="serviceFinally__form_content__time">{{ appointment_data.time|default:"16:30" }}</div>
										<div class="serviceFinally__form_content__date">{{ formatted_date|default:"18 ноября" }}</div>
									</div>
								</div>

							</div>
						</div>
						<form method="POST" style="margin-bottom: 10px;">
							{% csrf_token %}
							<div class="contacts__form_block fic" style="gap: 10px;">
								<input type="text" name="promocode" id="promoCodeInput" class="contacts__form_iunput" placeholder="Промокод" value="{{ request.session.applied_promo_code|default:'' }}">
								<button type="submit" name="apply_promo" class="serviceFinallys__form_btn" style="width: auto; padding: 0 20px;">Применить</button>
							</div>
						</form>
						{% if promo_message %}
							<div style="color: green; margin-bottom: 10px;">{{ promo_message }}</div>
						{% endif %}
						{% if promo_error %}
							<div style="color: red; margin-bottom: 10px;">{{ promo_error }}</div>
						{% endif %}
						<form action="#" class="serviceFinally__form" id="appointmentForm">
							<div class="serviceFinally__form_itesm">
								<div class="contacts__form_block fic">
									<input type="text" name="name" id="clientName" class="contacts__form_iunput" placeholder="Введите имя">
									<div class="contacts__form_inputBlock">
										<input type="tel" name="phone" id="clientPhone" class="contacts__form_iunput" placeholder="+79991234567">
									</div>
								</div>
								<div class="contacts__form_checkboxBlock fic">
									<input type="checkbox" id="termsAgreed" class="contacts__form_checkbox" checked>
									<span class="contacts__form_checkboxBlock__intro">Я согласен(а) с политикой конфиденциальности</span>
								</div>
								<button type="submit" class="serviceFinallys__form_btn">Записаться</button>
								<button type="button" class="serviceFinallys__form_back" onclick="window.location.href='{% url 'beauty_city_web:service' %}'">Назад</button>
								<div id="formMessage" style="margin-top: 10px; display: none;"></div>
							</div>
						</form>	
					</div>
					<div class="col-md-12 col-lg-5">
						<img src={% static "img/bannerImg.svg" %} alt="bannerImg" class="banner__img">
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<div id="appointmentData" 
		data-salon-id="{{ appointment_data.salon_id }}" 
		data-service-id="{{ appointment_data.service_id }}" 
		data-master-id="{{ appointment_data.master_id }}"
		data-date="{{ appointment_data.date }}"
		data-time="{{ appointment_data.time }}"
		style="display: none;"></div>
	
	{% endblock content %}
	
	{% block scripts %}
	<script src={% static "js/air-datepicker.js" %}></script>
	<script src={% static "js/jquery.arcticmodal-0.3.min.js" %}></script>
	<script>
	$(document).ready(function() {
		console.log('=== Страница подтверждения загружена ===');

		var appointmentData = {
			salon_id: $('#appointmentData').data('salon-id'),
			service_id: $('#appointmentData').data('service-id'),
			master_id: $('#appointmentData').data('master-id'),
			date: $('#appointmentData').data('date'),
			time: $('#appointmentData').data('time')
		};

		console.log('Данные записи из сессии:', appointmentData);

		// Обработка формы записи
		$('#appointmentForm').on('submit', function(e) {
			e.preventDefault();

			var $button = $(this).find('button[type="submit"]');
			var $message = $('#formMessage');

			var formData = {
				name: $('#clientName').val(),
				phone: $('#clientPhone').val(),
				promocode: '{{ request.session.applied_promo_code|default:"" }}',
				terms_agreed: $('#termsAgreed').is(':checked')
			};

			// Добавляем данные о записи
			formData.salon_id = appointmentData.salon_id;
			formData.service_id = appointmentData.service_id;
			formData.master_id = appointmentData.master_id;
			formData.date = appointmentData.date;
			formData.time = appointmentData.time;

			// Валидация
			if (!formData.name) {
				$message.html('<div style="color: red; font-weight: bold;">Пожалуйста, введите имя</div>').show();
				return;
			}

			if (!formData.phone) {
				$message.html('<div style="color: red; font-weight: bold;">Пожалуйста, введите телефон</div>').show();
				return;
			}

			if (!formData.terms_agreed) {
				$message.html('<div style="color: red; font-weight: bold;">Необходимо согласие с политикой конфиденциальности</div>').show();
				return;
			}
			
			$button.prop('disabled', true).text('Отправка...');
			$message.hide();
			
			// Отправляем данные на сервер
			$.ajax({
				url: '{% url "beauty_city_web:api_create_appointment" %}',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify(formData),
				success: function(response) {
					if (response.success) {
						$message.html('<div style="color: green; font-weight: bold;">' + response.message + '</div>').show();
						$button.text('Запись создана!');
						
						// Через 2 секунды перенаправляем на главную
						setTimeout(function() {
							window.location.href = '{% url "beauty_city_web:index" %}';
						}, 2000);
					} else {
						$message.html('<div style="color: red; font-weight: bold;">' + response.message + '</div>').show();
						$button.prop('disabled', false).text('Записаться');
					}
				},
				error: function(xhr) {
					var errorMsg = 'Произошла ошибка при создании записи';
					if (xhr.responseJSON && xhr.responseJSON.error) {
						errorMsg = xhr.responseJSON.error;
					}
					$message.html('<div style="color: red; font-weight: bold;">' + errorMsg + '</div>').show();
					$button.prop('disabled', false).text('Записаться');
				}
			});
		});
		
	});
	</script>
	{% endblock scripts %}
</body>
</html>